<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="novelSearch"> -->

<h2>These are the list of Novels we have</h2>
<p> Click the novel to view and edit the novel</p>
<!-- {{novels |json}} -->
<ul  class="list-group">
   <li  class="list-group-item" *ngFor = "let novel of novels">
     <a routerLink="/novel/{{novel._id}}">{{ novel.title}}  </a>

  </li>
<br/>
<div *ngIf="loginFlag">
  <button class="btn btn-primary" routerLink="/addNovel">  Add New Novel</button>
</div>

