<div class="container-fluid">
  <div class="row">
<p> Novel Details</p>

<ul *ngIf="novel" class="list-group" >
  <li  class="list-group-item" >Title : {{novel.title}}</li>
  <li  class="list-group-item" >Number of Pages : {{novel.numberOfPages}}</li>
  <li  class="list-group-item" >Authors:</li>
  <div *ngFor="let author of novel.authors">
    <ul class="list-group" >
      <li class="list-group-item">
        {{ author.name |titlecase}} , {{author.country|uppercase}}
      </li>
    </ul>
  </div>
</ul>
</div>
<div class="btn-group">

<div *ngIf="loginFlag">
<button class="btn btn-warning" (click)="onDelete()">Delete Novel</button>
<button class="btn btn-primary" routerLink="/novelEdit/{{novelId}}">Edit Novel</button>
</div>

</div>
</div>
