<H1>Welcome to MEAN Games</H1>
<!-- <app-parent></app-parent> -->
<!-- Just for the sake of showing communication between parent and child, this is not how to do you -->
<p > Date pipes demo : {{today |date }} </p>
<p > Date pipes demo short : {{today |date:"short" }} </p>
<p > Date pipes demo medium: {{today |date:"medium" }} </p>
<p > Date pipes demo long: {{today |date:"long" }} </p>
<p > Date pipes demo userdefinedFormat: {{today |date:"MM-dd-YYYY (hh:mm:ss)" }} </p>

<p>Number Demo</p>

<p>{{ 123.456789 | number:"4.0-5"}}</p>
